build/
dist/
*.egg-info/
.installed.cfg
*.egg
workflow/.ipynb_checkpoints/
.idea/
Python3127/*
python-3.12.7-amd64.exe
run_pypef_gui.bat
run_pypef_gui.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Downloaded ProteinGym data
scripts/ProteinGym_runs/DMS_msa_files/
scripts/ProteinGym_runs/DMS_ProteinGym_substitutions/
scripts/ProteinGym_runs/ProteinGym_AF2_structures/
scripts/ProteinGym_runs/_Description_DMS_substitutions_data.csv

# Created test/output files
model_saves/*
avGFP_shortened_dca_encoded.csv
avGFP_dca_encoded.csv

scripts/Setup/windows/Miniconda3-latest-Windows-x86_64.exe
scripts/Setup/windows/Miniconda3/*

scripts/Encoding_low_N/apc.png
scripts/Encoding_low_N/low_N_avGFP_extrapolation.png

scripts/Runtime_tests/runtimes.png

scripts/ProteinGym_runs/multi_point_dms_mut_data.json
scripts/ProteinGym_runs/single_point_dms_mut_data.json
scripts/ProteinGym_runs/higher_point_dms_mut_data.json
scripts/ProteinGym_runs/single_point_mut_performance_violin.png
scripts/ProteinGym_runs/multi_point_mut_performance_violin.png
scripts/ProteinGym_runs/single_point_mut_performance.png
scripts/ProteinGym_runs/multi_point_mut_performance.png

scripts/ESM_finetuning/DMS_msa_files/
scripts/ESM_finetuning/DMS_ProteinGym_substitutions/
scripts/ESM_finetuning/ProteinGym_AF2_structures/
scripts/ESM_finetuning/higher_point_dms_mut_data.json
scripts/ESM_finetuning/single_point_dms_mut_data.json
scripts/ESM_finetuning/results/dca_esm_and_hybrid_opt_results_clean.csv
scripts/ESM_finetuning/results/dca_esm_and_hybrid_opt_results.csv
scripts/ESM_finetuning/mut_performance.png
scripts/ESM_finetuning/_Description_DMS_substitutions_data.csv
scripts/ESM_finetuning/mut_performance_violin.png

datasets/ANEH/37_ANEH_variants_aaidx_encoded.csv
datasets/ANEH/37_ANEH_variants_dca_encoded.csv
datasets/ANEH/37_ANEH_variants_gremlin_dca_encoded.csv
datasets/ANEH/37_ANEH_variants_onehot_encoded.csv
datasets/ANEH/37_ANEH_variants_plmc_dca_encoded.csv
datasets/ANEH/37_ANEH_variants_prediction_set.fasta
datasets/ANEH/apc.png
datasets/ANEH/coevolution_apc_sorted.csv
datasets/ANEH/DCA_Hybrid_Model_Performance_GREMLIN.png
datasets/ANEH/DCA_Hybrid_Model_Performance_Hybrid.png
datasets/ANEH/DCA_Hybrid_Model_Performance_PLMC.png
datasets/ANEH/FAUJ880104_DE_trajectories.png
datasets/ANEH/hybrid_ridge_37_ANEH_variants_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/hybrid_ridge_37_ANEH_variants_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/HYBRIDplmc_DE_trajectories.png
datasets/ANEH/low_N_37_ANEH_variants_aaidx_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_dca_encoded_hybrid_ridge.png
datasets/ANEH/low_N_37_ANEH_variants_gremlin_dca_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_onehot_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_plmc_dca_encoded_ml_pls.png
datasets/ANEH/LS.fasl
datasets/ANEH/ML_Model_Performance_CHAM830104_RIDGE.png
datasets/ANEH/ML_Model_Performance_CHAM830105_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_CHAM830105_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_CHAM830105_PLS.png
datasets/ANEH/ML_Model_Performance_CHAM830105_RIDGE.png
datasets/ANEH/ML_Model_Performance_CHAM830106_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_CHAM830106_LASSO.png
datasets/ANEH/ML_Model_Performance_CHAM830106_RIDGE.png
datasets/ANEH/ML_Model_Performance_CHOC760101_LASSO.png
datasets/ANEH/ML_Model_Performance_CHOP780211_RIDGE.png
datasets/ANEH/ML_Model_Performance_CHOP780215_LASSO.png
datasets/ANEH/ML_Model_Performance_DCA_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_DCA_LASSO.png
datasets/ANEH/ML_Model_Performance_DCA_PLMC.png
datasets/ANEH/ML_Model_Performance_DCA_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_DCA_PLS.png
datasets/ANEH/ML_Model_Performance_DCA_RIDGE.png
datasets/ANEH/ML_Model_Performance_FAUJ880103_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_FAUJ880103_LASSO.png
datasets/ANEH/ML_Model_Performance_FAUJ880104_AAindex_FFT.png
datasets/ANEH/ML_Model_Performance_FAUJ880104_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_FAUJ880104_PLS.png
datasets/ANEH/ML_Model_Performance_FAUJ880110_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_FAUJ880110_PLS.png
datasets/ANEH/ML_Model_Performance_FAUJ880110_RIDGE.png
datasets/ANEH/ML_Model_Performance_FINA770101_LASSO.png
datasets/ANEH/ML_Model_Performance_FUKS010102_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_FUKS010102_PLS.png
datasets/ANEH/ML_Model_Performance_KARS160104_LASSO.png
datasets/ANEH/ML_Model_Performance_KARS160106_LASSO.png
datasets/ANEH/ML_Model_Performance_KARS160111_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_KARS160111_PLS.png
datasets/ANEH/ML_Model_Performance_KARS160113_LASSO.png
datasets/ANEH/ML_Model_Performance_KARS160113_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_KARS160122_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_KARS160122_LASSO.png
datasets/ANEH/ML_Model_Performance_KARS160122_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_MANP780101_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_MANP780101_RIDGE.png
datasets/ANEH/ML_Model_Performance_MITS020101_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_MITS020101_PLS.png
datasets/ANEH/ML_Model_Performance_ONEHOT_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_ONEHOT_LASSO.png
datasets/ANEH/ML_Model_Performance_ONEHOT_onehot.png
datasets/ANEH/ML_Model_Performance_ONEHOT_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_ONEHOT_PLS.png
datasets/ANEH/ML_Model_Performance_ONEHOT_RIDGE.png
datasets/ANEH/ML_Model_Performance_QIAN880129_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_RACS770103_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_RACS770103_RIDGE.png
datasets/ANEH/ML_Model_Performance_RACS820109_PLS.png
datasets/ANEH/ML_Model_Performance_RICJ880105_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_SUEM840102_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_SUEM840102_LASSO.png
datasets/ANEH/ML_Model_Performance_SUEM840102_PLS.png
datasets/ANEH/ML_Model_Performance_SUEM840102_RIDGE.png
datasets/ANEH/ML_Model_Performance_VELV850101_PLS.png
datasets/ANEH/ML_Model_Performance_WEBA780101_ELASTICNET.png
datasets/ANEH/ML_Model_Performance_WEBA780101_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_WEBA780101_PLS.png
datasets/ANEH/ML_Model_Performance_WEBA780101_RIDGE.png
datasets/ANEH/ML_Model_Performance_CHAM830104_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_OOBM850104_PLS_LOOCV.png
datasets/ANEH/ml_pls_37_ANEH_variants_aaidx_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_aaidx_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_gremlin_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_gremlin_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_onehot_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_onehot_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_plmc_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_plmc_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/MLgremlin_DE_trajectories.png
datasets/ANEH/MLplmc_DE_trajectories.png
datasets/ANEH/Model_Results.txt
datasets/ANEH/ONEHOT_DE_trajectories.png
datasets/ANEH/Predictions_FAUJ880104_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_Hybrid_Top37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_MLgremlin_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_MLplmc_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_ONEHOT_37_ANEH_variants_prediction_set.txt
datasets/ANEH/raw.png
datasets/ANEH/TS.fasl
datasets/ANEH/WEBA780101_DE_trajectories.png
datasets/ANEH/zscore.png
datasets/ANEH/CV_performance/CHAM830104_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830104_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830105_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830105_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_PLS_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830105_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830105_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830106_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830106_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830106_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830106_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830106_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830106_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHOC760101_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/CHOC760101_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/CHOP780211_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHOP780211_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHOP780215_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/CHOP780215_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/DCA_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/DCA_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/DCA_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_PLS_CV_Results.txt
datasets/ANEH/CV_performance/DCA_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/DCA_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880103_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880103_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880103_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880103_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880104_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880104_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880104_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880104_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880110_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880110_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880110_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880110_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880110_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880110_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/FINA770101_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/FINA770101_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/FUKS010102_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FUKS010102_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FUKS010102_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/FUKS010102_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/KARS160104_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160104_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160106_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160106_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160111_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160111_PLS_CV_Results.txt
datasets/ANEH/CV_performance/KARS160111_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160111_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/KARS160113_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160113_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160113_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160113_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/KARS160122_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160122_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/KARS160122_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160122_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160122_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160122_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/MANP780101_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/MANP780101_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/MANP780101_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/MANP780101_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/MITS020101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/MITS020101_PLS_CV_Results.txt
datasets/ANEH/CV_performance/MITS020101_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/MITS020101_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_PLS_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/QIAN880129_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/QIAN880129_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/RACS770103_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/RACS770103_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/RACS770103_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/RACS770103_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/RACS820109_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/RACS820109_PLS_CV_Results.txt
datasets/ANEH/CV_performance/RICJ880105_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/RICJ880105_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_PLS_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/VELV850101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/VELV850101_PLS_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_PLS_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830104_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830104_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/OOBM850104_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/OOBM850104_PLS_LOOCV_CV_Results.txt
datasets/ANEH/Pickles/OOBM850104
datasets/ANEH/Diverse_Double_Split/Diverse_Double_Split1.fasta
datasets/ANEH/Diverse_Double_Split/Predictions_FAUJ880104_TopDiverse_Double_Split.txt
datasets/ANEH/Diverse_Double_Split/Predictions_MLgremlin_TopDiverse_Double_Split.txt
datasets/ANEH/Diverse_Double_Split/Predictions_MLplmc_TopDiverse_Double_Split.txt
datasets/ANEH/Diverse_Double_Split/Predictions_ONEHOT_TopDiverse_Double_Split.txt
datasets/ANEH/EvoTraj/Trajectories.csv
datasets/ANEH/Pickles/CHAM830104
datasets/ANEH/Pickles/CHAM830105
datasets/ANEH/Pickles/CHAM830106
datasets/ANEH/Pickles/CHOC760101
datasets/ANEH/Pickles/CHOP780211
datasets/ANEH/Pickles/CHOP780215
datasets/ANEH/Pickles/FAUJ880103
datasets/ANEH/Pickles/FAUJ880104
datasets/ANEH/Pickles/FAUJ880110
datasets/ANEH/Pickles/FINA770101
datasets/ANEH/Pickles/FUKS010102
datasets/ANEH/Pickles/GREMLIN
datasets/ANEH/Pickles/HYBRID_LVL_1
datasets/ANEH/Pickles/HYBRIDgremlin
datasets/ANEH/Pickles/HYBRIDplmc
datasets/ANEH/Pickles/KARS160104
datasets/ANEH/Pickles/KARS160106
datasets/ANEH/Pickles/KARS160111
datasets/ANEH/Pickles/KARS160113
datasets/ANEH/Pickles/KARS160122
datasets/ANEH/Pickles/MANP780101
datasets/ANEH/Pickles/MITS020101
datasets/ANEH/Pickles/ML_LVL_1
datasets/ANEH/Pickles/MLgremlin
datasets/ANEH/Pickles/MLplmc
datasets/ANEH/Pickles/ONEHOT
datasets/ANEH/Pickles/QIAN880129
datasets/ANEH/Pickles/RACS770103
datasets/ANEH/Pickles/RACS820109
datasets/ANEH/Pickles/RICJ880105
datasets/ANEH/Pickles/SUEM840102
datasets/ANEH/Pickles/VELV850101
datasets/ANEH/Pickles/WEBA780101
datasets/ANEH/Recomb_Double_Split/Predictions_FAUJ880104_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_Hybrid_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_MLgremlin_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_MLplmc_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_ONEHOT_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Recomb_Double_Split0.fasta
datasets/ANEH/Recomb_Quadruple_Split/Predictions_FAUJ880104_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Predictions_MLgremlin_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Predictions_MLplmc_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Predictions_ONEHOT_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Recomb_Quadruple_Split0.fasta
datasets/ANEH/Recomb_Quintuple_Split/Predictions_FAUJ880104_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Predictions_MLgremlin_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Predictions_MLplmc_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Predictions_ONEHOT_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Recomb_Quintuple_Split0.fasta
datasets/ANEH/Recomb_Triple_Split/Predictions_FAUJ880104_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Predictions_MLgremlin_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Predictions_MLplmc_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Predictions_ONEHOT_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Recomb_Triple_Split0.fasta
datasets/ANEH/ML_Model_Performance_CHAM830106_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_CHOP780206_PLS_LOOCV.png
datasets/ANEH/ML_Model_Performance_ZHOH040102_PLS.png
datasets/ANEH/CV_performance/CHAM830106_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830106_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/CHOP780206_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/CHOP780206_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/ZHOH040102_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/ZHOH040102_PLS_CV_Results.txt
datasets/ANEH/Pickles/CHOP780206
datasets/ANEH/Pickles/ZHOH040102
datasets/ANEH/DCA_Hybrid_Model_Performance_ESM1v_no_ML.png
datasets/ANEH/DCA_Hybrid_Model_Performance_GREMLIN_.png
datasets/ANEH/DCA_Hybrid_Model_Performance_GREMLIN_ESM.png
datasets/ANEH/DCA_Hybrid_Model_Performance_GREMLIN_no_ML_ESM.png
datasets/ANEH/DCA_Hybrid_Model_Performance_Hybrid_ESM1v_ESM.png
datasets/ANEH/DCA_Hybrid_Model_Performance_PLMC_.png
datasets/ANEH/HYBRIDGREMLINESM1V_DE_trajectories.png
datasets/ANEH/Predictions_Hybrid_ESM1v_Top37_ANEH_variants_prediction_set.txt
datasets/ANEH/Pickles/HYBRIDGREMLINESM1V
datasets/ANEH/SSM_landscape.png
datasets/ANEH/SSM_landscape.csv

datasets/AVGFP/apc.png
datasets/AVGFP/avGFP_aaidx_encoded.csv
datasets/AVGFP/avGFP_dca_encoded.csv
datasets/AVGFP/avGFP_onehot_encoded.csv
datasets/AVGFP/avGFP_prediction_set.fasta
datasets/AVGFP/coevolution_apc_sorted.csv
datasets/AVGFP/DCA_Hybrid_Model_Performance_GREMLIN_no_ML.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_GREMLIN.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_Hybrid.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_PLMC_no_ML.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_PLMC.png
datasets/AVGFP/GREMLIN_DE_trajectories.png
datasets/AVGFP/hybrid_ridge_avGFP_dca_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/hybrid_ridge_avGFP_dca_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/HYBRIDplmc_DE_trajectories.png
datasets/AVGFP/low_N_avGFP_aaidx_encoded_ml_ridge.png
datasets/AVGFP/low_N_avGFP_dca_encoded_hybrid_ridge.png
datasets/AVGFP/low_N_avGFP_dca_encoded_ml_ridge.png
datasets/AVGFP/low_N_avGFP_onehot_encoded_ml_pls.png
datasets/AVGFP/LS.fasl
datasets/AVGFP/ML_Model_Performance_DCA_GREMLIN.png
datasets/AVGFP/ML_Model_Performance_DCA_PLMC.png
datasets/AVGFP/ML_Model_Performance_DCA_PLS.png
datasets/AVGFP/ML_Model_Performance_FASG760103_PLS.png
datasets/AVGFP/ML_Model_Performance_GEIM800103_PLS.png
datasets/AVGFP/ML_Model_Performance_LAWE840101_PLS.png
datasets/AVGFP/ML_Model_Performance_VINM940103_PLS.png
datasets/AVGFP/ML_Model_Performance_WERD780101_PLS.png
datasets/AVGFP/ml_pls_avGFP_onehot_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_onehot_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_ridge_avGFP_aaidx_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_ridge_avGFP_aaidx_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_ridge_avGFP_dca_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_ridge_avGFP_dca_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/MLgremlin_DE_trajectories.png
datasets/AVGFP/MLplmc_DE_trajectories.png
datasets/AVGFP/Model_Results.txt
datasets/AVGFP/None_DE_trajectories.png
datasets/AVGFP/PLMC_DE_trajectories.png
datasets/AVGFP/Predictions_Hybrid_TopavGFP_prediction_set.txt
datasets/AVGFP/Predictions_Hybrid_TopTS.txt
datasets/AVGFP/raw.png
datasets/AVGFP/TS.fasl
datasets/AVGFP/zscore.png
datasets/AVGFP/CV_performance/DCA_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/DCA_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/FASG760103_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/FASG760103_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/GEIM800103_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/GEIM800103_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/LAWE840101_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/LAWE840101_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/VINM940103_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/VINM940103_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/WERD780101_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/WERD780101_PLS_CV_Results.txt
datasets/AVGFP/EvoTraj/Trajectories.csv
datasets/AVGFP/Pickles/FASG760103
datasets/AVGFP/Pickles/GEIM800103
datasets/AVGFP/Pickles/GREMLIN
datasets/AVGFP/Pickles/HYBRID_LVL_1
datasets/AVGFP/Pickles/HYBRIDgremlin
datasets/AVGFP/Pickles/HYBRIDplmc
datasets/AVGFP/Pickles/LAWE840101
datasets/AVGFP/Pickles/ML_LVL_1
datasets/AVGFP/Pickles/MLgremlin
datasets/AVGFP/Pickles/MLplmc
datasets/AVGFP/Pickles/PLMC
datasets/AVGFP/Pickles/VINM940103
datasets/AVGFP/Pickles/WERD780101
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split0.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split1.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split2.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split3.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split4.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split5.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split6.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split7.fasta
datasets/AVGFP/Recomb_Double_Split/Predictions_Hybrid_TopRecomb_Double_Split.txt
datasets/AVGFP/model_saves/*
datasets/AVGFP/Pickles/*
datasets/AVGFP/DCA_Hybrid_Model_Performance_ESM1v_no_ML.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_ProSST_no_ML.png
datasets/AVGFP/HYBRIDgremlinesm_DE_trajectories.png
datasets/AVGFP/HYBRIDgremlinprosst_DE_trajectories.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_GREMLIN_.png
datasets/AVGFP/SSM_landscape.csv
datasets/AVGFP/SSM_landscape.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_GREMLIN_PROSST.png
datasets/AVGFP/DCA_Hybrid_Model_Performance_Hybrid_ProSST_PROSST.png
datasets/AVGFP/HYBRIDGREMLINESM1V_DE_trajectories.png
datasets/AVGFP/Recomb_Double_Split/Predictions_Hybrid_ESM1v_TopRecomb_Double_Split.txt
datasets/AVGFP/Recomb_Double_Split/Predictions_Hybrid_ProSST_TopRecomb_Double_Split.txt
datasets/AVGFP/avGFP_shortened.csv
