build/
dist/
*.egg-info/
.installed.cfg
*.egg
workflow/.ipynb_checkpoints/
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Created test/output files
datasets/ANEH/ANEH_72.6.params
datasets/AVGFP/uref100_avgfp_jhmmer_119_plmc_42.6.params
scripts/Setup/windows/Miniconda3-latest-Windows-x86_64.exe
scripts/Setup/windows/Miniconda3/*
scripts/Encoding_low_N/apc.png
scripts/Encoding_low_N/low_N_avGFP_extrapolation.png
datasets/ANEH/LS.fasl
datasets/ANEH/TS.fasl
datasets/ANEH/37_ANEH_variants_aaidx_encoded.csv
datasets/ANEH/37_ANEH_variants_dca_encoded.csv
datasets/ANEH/37_ANEH_variants_onehot_encoded.csv
datasets/ANEH/37_ANEH_variants_prediction_set.fasta
datasets/ANEH/apc.png
datasets/ANEH/CHAM830105_PLS_ML_Model_Performance.png
datasets/ANEH/coevolution_apc_sorted.csv
datasets/ANEH/CV_performance/CHAM830105_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_PLS_CV_Results.txt
datasets/ANEH/CV_performance/DCA_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880104_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880104_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880110_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880110_PLS_CV_Results.txt
datasets/ANEH/CV_performance/FUKS010102_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/FUKS010102_PLS_CV_Results.txt
datasets/ANEH/CV_performance/KARS160111_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160111_PLS_CV_Results.txt
datasets/ANEH/CV_performance/MITS020101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/MITS020101_PLS_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_PLS_CV_Results.txt
datasets/ANEH/CV_performance/RACS820109_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/RACS820109_PLS_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_PLS_CV_Results.txt
datasets/ANEH/CV_performance/VELV850101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/VELV850101_PLS_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_PLS_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_PLS_CV_Results.txt
datasets/ANEH/DCA_ML_Model_Performance.png
datasets/ANEH/DCA_PLS_ML_Model_Performance.png
datasets/ANEH/Diverse_Double_Split/Diverse_Double_Split1.fasta
datasets/ANEH/Diverse_Double_Split/Predictions_FAUJ880104_TopDiverse_Double_Split.txt
datasets/ANEH/Diverse_Double_Split/Predictions_ONEHOT_TopDiverse_Double_Split.txt
datasets/ANEH/EvoTraj/Trajectories.csv
datasets/ANEH/FAUJ880104_DE_trajectories.png
datasets/ANEH/FAUJ880104_ML_Model_Performance.png
datasets/ANEH/FAUJ880104_PLS_ML_Model_Performance.png
datasets/ANEH/FAUJ880110_PLS_ML_Model_Performance.png
datasets/ANEH/FUKS010102_PLS_ML_Model_Performance.png
datasets/ANEH/KARS160111_PLS_ML_Model_Performance.png
datasets/ANEH/low_N_37_ANEH_variants_aaidx_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_dca_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_onehot_encoded_ml_pls.png
datasets/ANEH/MITS020101_PLS_ML_Model_Performance.png
datasets/ANEH/ml_pls_37_ANEH_variants_aaidx_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_aaidx_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_onehot_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_onehot_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/MLplmc_DE_trajectories.png
datasets/ANEH/Model_Results.txt
datasets/ANEH/ONEHOT_DE_trajectories.png
datasets/ANEH/ONEHOT_ML_Model_Performance.png
datasets/ANEH/ONEHOT_PLS_ML_Model_Performance.png
datasets/ANEH/Pickles/CHAM830105
datasets/ANEH/Pickles/FAUJ880104
datasets/ANEH/Pickles/FAUJ880110
datasets/ANEH/Pickles/FUKS010102
datasets/ANEH/Pickles/GREMLIN
datasets/ANEH/Pickles/KARS160111
datasets/ANEH/Pickles/MITS020101
datasets/ANEH/Pickles/ML_LVL_1
datasets/ANEH/Pickles/MLgremlin
datasets/ANEH/Pickles/MLplmc
datasets/ANEH/Pickles/ONEHOT
datasets/ANEH/Pickles/RACS820109
datasets/ANEH/Pickles/SUEM840102
datasets/ANEH/Pickles/VELV850101
datasets/ANEH/Pickles/WEBA780101
datasets/ANEH/Predictions_FAUJ880104_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_MLgremlin_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_MLplmc_37_ANEH_variants_prediction_set.txt
datasets/ANEH/Predictions_ONEHOT_37_ANEH_variants_prediction_set.txt
datasets/ANEH/RACS820109_PLS_ML_Model_Performance.png
datasets/ANEH/raw.png
datasets/ANEH/Recomb_Double_Split/Predictions_FAUJ880104_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_MLgremlin_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_MLplmc_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_ONEHOT_TopRecomb_Double_Split.txt
datasets/ANEH/Recomb_Double_Split/Recomb_Double_Split0.fasta
datasets/ANEH/Recomb_Quadruple_Split/Recomb_Quadruple_Split0.fasta
datasets/ANEH/Recomb_Quintuple_Split/Recomb_Quintuple_Split0.fasta
datasets/ANEH/Recomb_Triple_Split/Predictions_FAUJ880104_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Predictions_ONEHOT_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Recomb_Triple_Split0.fasta
datasets/ANEH/SUEM840102_PLS_ML_Model_Performance.png
datasets/ANEH/VELV850101_PLS_ML_Model_Performance.png
datasets/ANEH/WEBA780101_DE_trajectories.png
datasets/ANEH/WEBA780101_PLS_ML_Model_Performance.png
datasets/ANEH/zscore.png
datasets/AVGFP/apc.png
datasets/AVGFP/coevolution_apc_sorted.csv
datasets/AVGFP/Pickles/GREMLIN
datasets/AVGFP/raw.png
datasets/AVGFP/zscore.png
datasets/AVGFP/avGFP_dca_encoded.csv
datasets/AVGFP/avGFP_aaidx_encoded.csv
datasets/AVGFP/avGFP_onehot_encoded.csv
datasets/AVGFP/low_N_avGFP_dca_encoded_hybrid_ridge.png
datasets/AVGFP/low_N_avGFP_dca_encoded_ml_pls.png
scripts/Encoding_low_N/AVGFP/avGFP.csv
scripts/Encoding_low_N/AVGFP/uref100_avgfp_jhmmer_119.a2m
datasets/AVGFP/hybrid_ridge_avGFP_dca_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/low_N_avGFP_aaidx_encoded_ml_pls.png
datasets/AVGFP/low_N_avGFP_onehot_encoded_ml_pls.png
datasets/AVGFP/ml_pls_avGFP_aaidx_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_dca_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_onehot_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/Pickles/HYBRID_LVL_1
datasets/AVGFP/Pickles/ML_LVL_1
datasets/AVGFP/hybrid_ridge_avGFP_dca_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_dca_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_aaidx_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_pls_avGFP_onehot_encoded_train_concat_lvls_extrapolation.png
scripts/Encoding_low_N/AVGFP/low_N_avGFP_extrapolation.png
datasets/AVGFP/WERD780101_PLS_ML_Model_Performance.png
datasets/AVGFP/VINM940103_PLS_ML_Model_Performance.png
datasets/AVGFP/TS.fasl
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split7.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split6.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split5.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split4.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split3.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split2.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split1.fasta
datasets/AVGFP/Recomb_Double_Split/Recomb_Double_Split0.fasta
datasets/AVGFP/Predictions_Hybrid_TopavGFP_prediction_set.txt
datasets/AVGFP/PLMC_DE_trajectories.png
datasets/AVGFP/Pickles/WERD780101
datasets/AVGFP/Pickles/VINM940103
datasets/AVGFP/Pickles/PLMC
datasets/AVGFP/Pickles/MLplmc
datasets/AVGFP/Pickles/MLgremlin
datasets/AVGFP/Pickles/LAWE840101
datasets/AVGFP/Pickles/HYBRIDplmc
datasets/AVGFP/Pickles/HYBRIDgremlin
datasets/AVGFP/Pickles/GEIM800103
datasets/AVGFP/Pickles/FASG760103
datasets/AVGFP/None_DE_trajectories.png
datasets/AVGFP/Model_Results.txt
datasets/AVGFP/MLplmc_DE_trajectories.png
datasets/AVGFP/MLgremlin_DE_trajectories.png
datasets/AVGFP/ml_ridge_avGFP_dca_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_ridge_avGFP_dca_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/ml_ridge_avGFP_aaidx_encoded_train_lvl_1_extrapolation.png
datasets/AVGFP/ml_ridge_avGFP_aaidx_encoded_train_concat_lvls_extrapolation.png
datasets/AVGFP/LS.fasl
datasets/AVGFP/low_N_avGFP_dca_encoded_ml_ridge.png
datasets/AVGFP/low_N_avGFP_aaidx_encoded_ml_ridge.png
datasets/AVGFP/LAWE840101_PLS_ML_Model_Performance.png
datasets/AVGFP/HYBRIDplmc_DE_trajectories.png
datasets/AVGFP/GREMLIN_DE_trajectories.png
datasets/AVGFP/GEIM800103_PLS_ML_Model_Performance.png
datasets/AVGFP/FASG760103_PLS_ML_Model_Performance.png
datasets/AVGFP/EvoTraj/Trajectories.csv
datasets/AVGFP/DCA_PLS_ML_Model_Performance.png
datasets/AVGFP/DCA_ML_Model_Performance.png
datasets/AVGFP/DCA_Hybrid_Model_Performance.png
datasets/AVGFP/CV_performance/WERD780101_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/WERD780101_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/VINM940103_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/VINM940103_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/LAWE840101_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/LAWE840101_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/GEIM800103_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/GEIM800103_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/FASG760103_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/FASG760103_PLS_5-fold-CV.png
datasets/AVGFP/CV_performance/DCA_PLS_CV_Results.txt
datasets/AVGFP/CV_performance/DCA_PLS_5-fold-CV.png
datasets/AVGFP/avGFP_prediction_set.fasta
datasets/ANEH/WEBA780101_RIDGE_ML_Model_Performance.png
datasets/ANEH/WEBA780101_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/WEBA780101_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/SUEM840102_RIDGE_ML_Model_Performance.png
datasets/ANEH/SUEM840102_LASSO_ML_Model_Performance.png
datasets/ANEH/SUEM840102_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/RICJ880105_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/Recomb_Triple_Split/Predictions_MLplmc_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Triple_Split/Predictions_MLgremlin_TopRecomb_Triple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Predictions_ONEHOT_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Predictions_MLplmc_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Predictions_MLgremlin_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quintuple_Split/Predictions_FAUJ880104_TopRecomb_Quintuple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Predictions_ONEHOT_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Predictions_MLplmc_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Predictions_MLgremlin_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Quadruple_Split/Predictions_FAUJ880104_TopRecomb_Quadruple_Split.txt
datasets/ANEH/Recomb_Double_Split/Predictions_Hybrid_TopRecomb_Double_Split.txt
datasets/ANEH/RACS770103_RIDGE_ML_Model_Performance.png
datasets/ANEH/RACS770103_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/QIAN880129_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/Predictions_Hybrid_Top37_ANEH_variants_prediction_set.txt
datasets/ANEH/Pickles/RICJ880105
datasets/ANEH/Pickles/RACS770103
datasets/ANEH/Pickles/QIAN880129
datasets/ANEH/Pickles/MANP780101
datasets/ANEH/Pickles/KARS160122
datasets/ANEH/Pickles/KARS160113
datasets/ANEH/Pickles/KARS160106
datasets/ANEH/Pickles/KARS160104
datasets/ANEH/Pickles/HYBRIDplmc
datasets/ANEH/Pickles/HYBRIDgremlin
datasets/ANEH/Pickles/HYBRID_LVL_1
datasets/ANEH/Pickles/FINA770101
datasets/ANEH/Pickles/FAUJ880103
datasets/ANEH/Pickles/CHOP780215
datasets/ANEH/Pickles/CHOP780211
datasets/ANEH/Pickles/CHOC760101
datasets/ANEH/Pickles/CHAM830106
datasets/ANEH/Pickles/CHAM830104
datasets/ANEH/ONEHOT_RIDGE_ML_Model_Performance.png
datasets/ANEH/ONEHOT_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/ONEHOT_LASSO_ML_Model_Performance.png
datasets/ANEH/ONEHOT_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/MLgremlin_DE_trajectories.png
datasets/ANEH/ml_pls_37_ANEH_variants_plmc_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_plmc_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_gremlin_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/ml_pls_37_ANEH_variants_gremlin_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/MITS020101_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/MANP780101_RIDGE_ML_Model_Performance.png
datasets/ANEH/MANP780101_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/low_N_37_ANEH_variants_plmc_dca_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_gremlin_dca_encoded_ml_pls.png
datasets/ANEH/low_N_37_ANEH_variants_dca_encoded_hybrid_ridge.png
datasets/ANEH/KARS160122_LASSO_ML_Model_Performance.png
datasets/ANEH/KARS160122_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/KARS160113_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/KARS160113_LASSO_ML_Model_Performance.png
datasets/ANEH/KARS160111_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/KARS160106_LASSO_ML_Model_Performance.png
datasets/ANEH/KARS160104_LASSO_ML_Model_Performance.png
datasets/ANEH/HYBRIDplmc_DE_trajectories.png
datasets/ANEH/hybrid_ridge_37_ANEH_variants_dca_encoded_train_lvl_1_extrapolation.png
datasets/ANEH/hybrid_ridge_37_ANEH_variants_dca_encoded_train_concat_lvls_extrapolation.png
datasets/ANEH/FUKS010102_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/FINA770101_LASSO_ML_Model_Performance.png
datasets/ANEH/FAUJ880110_RIDGE_ML_Model_Performance.png
datasets/ANEH/FAUJ880110_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/FAUJ880104_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/FAUJ880103_LASSO_ML_Model_Performance.png
datasets/ANEH/FAUJ880103_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/Diverse_Double_Split/Predictions_MLplmc_TopDiverse_Double_Split.txt
datasets/ANEH/Diverse_Double_Split/Predictions_MLgremlin_TopDiverse_Double_Split.txt
datasets/ANEH/DCA_RIDGE_ML_Model_Performance.png
datasets/ANEH/DCA_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/DCA_LASSO_ML_Model_Performance.png
datasets/ANEH/DCA_Hybrid_Model_Performance.png
datasets/ANEH/DCA_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/CV_performance/WEBA780101_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/WEBA780101_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/WEBA780101_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/SUEM840102_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/SUEM840102_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/RICJ880105_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/RICJ880105_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/RACS770103_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/RACS770103_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/RACS770103_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/RACS770103_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/QIAN880129_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/QIAN880129_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/ONEHOT_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/ONEHOT_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/MITS020101_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/MITS020101_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/MANP780101_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/MANP780101_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/MANP780101_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/MANP780101_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160122_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160122_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160122_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/KARS160122_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160113_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/KARS160113_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160113_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160113_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160111_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/KARS160111_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160106_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160106_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160104_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/KARS160104_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/FUKS010102_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/FUKS010102_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/FINA770101_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/FINA770101_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880110_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880110_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880110_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880110_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880104_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880104_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880103_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880103_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/FAUJ880103_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/FAUJ880103_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/DCA_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/DCA_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/DCA_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/DCA_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/DCA_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/CHOP780215_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/CHOP780215_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/CHOP780211_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHOP780211_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHOC760101_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/CHOC760101_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830106_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830106_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830106_LASSO_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830106_LASSO_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830106_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830106_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830105_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830105_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830105_ELASTICNET_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830105_ELASTICNET_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830104_RIDGE_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830104_RIDGE_5-fold-CV.png
datasets/ANEH/CV_performance/CHAM830104_PLS_LOOCV_CV_Results.txt
datasets/ANEH/CV_performance/CHAM830104_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CHOP780215_LASSO_ML_Model_Performance.png
datasets/ANEH/CHOP780211_RIDGE_ML_Model_Performance.png
datasets/ANEH/CHOC760101_LASSO_ML_Model_Performance.png
datasets/ANEH/CHAM830106_RIDGE_ML_Model_Performance.png
datasets/ANEH/CHAM830106_LASSO_ML_Model_Performance.png
datasets/ANEH/CHAM830106_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/CHAM830105_RIDGE_ML_Model_Performance.png
datasets/ANEH/CHAM830105_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/CHAM830105_ELASTICNET_ML_Model_Performance.png
datasets/ANEH/CHAM830104_RIDGE_ML_Model_Performance.png
datasets/ANEH/CHAM830104_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/37_ANEH_variants_plmc_dca_encoded.csv
datasets/ANEH/37_ANEH_variants_gremlin_dca_encoded.csv
scripts/Setup/windows/AVGFP/uref100_avgfp_jhmmer_119.a2m
scripts/Setup/windows/AVGFP/avGFP.csv
scripts/Setup/windows/api_encoding_train_test.py
scripts/Setup/windows/apc.png
scripts/Setup/linux/AVGFP/uref100_avgfp_jhmmer_119.a2m
scripts/Setup/linux/AVGFP/avGFP.csv
scripts/Setup/linux/api_encoding_train_test.py
scripts/Setup/linux/apc.png
datasets/ANEH/KARS160122_PLS_LOOCV_ML_Model_Performance.png
datasets/ANEH/CV_performance/KARS160122_PLS_LOOCV_5-fold-CV.png
datasets/ANEH/CV_performance/KARS160122_PLS_LOOCV_CV_Results.txt
datasets/AVGFP/Predictions_Hybrid_TopTS.txt
