numpy
pandas
tqdm
docopt
matplotlib
scipy
adjustText
scikit-learn
biopython
biotite
schema
pathos
peft
#scikit-learn-intelex
#ray[default]
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torch-geometric
