numpy
pandas
tqdm
docopt
matplotlib
scipy
adjustText
scikit-learn
scikit-learn-intelex
biopython
schema
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp312-cp312-win_amd64.whl; sys_platform == 'win32'
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp312-cp312-manylinux2014_x86_64.whl; sys_platform == "linux"
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp312-cp312-macosx_10_15_x86_64.whl; sys_platform == "darwin"
ray[default]
tensorflow